*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 20px;
  margin-top: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.bottom {
  background: #93FAE4;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-link {
  display: inline;
  padding-right: 500px;
  padding-left: 40px;
  font-size: 20px;
}

.top {
  background: #8C8B88;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

a:-webkit-any-link {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #6bdbc3;
  display: inline-block
}

.bottom a:-webkit-any-link {
  color: white;
  text-decoration: none;
  text-shadow:
  -1px -1px 0 #C7C6C1,
  1px -1px 0 #C7C6C1,
  -1px 1px 0 #C7C6C1,
  1px 1px 0 #C7C6C1;
}

h1 {
  text-align: center;
}

.about p, .projects p {
  margin-top: 0px;
  border-radius: 10%;
  border: 3px solid #C7C6C1;
  padding: 20px;
  background: white;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-size: 200%;
  color: #6bdbc3;
  display: inline-block
}

h3 {
  margin: 0px;
}

.right.column h3, .left.column h3 {
  color: #6bdbc3;
}

.bold {
  font-weight: bold;
  margin: 0px;
  color: black;
}

.italic {
  font-style: italic;
}

p {
  margin-top: 0px;
}

img {
  display: block;
  margin-bottom: 40px;
  padding-right: 50px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
}

.right.column {
  width: 70%;
  float: right;
  border-left: 2px solid #C7C6C1;
  padding-left: 20px;
}

.left.column {
  width: 30%;
  float: left;
  padding-right: 20px;
}
