<link rel="stylesheet" href="css/master.css" type="text/css" charset="utf-8">



{{#link-to 'index'}}
Index
{{/link-to}}

{{#link-to 'resume'}}
Resume
{{/link-to}}

{{#link-to 'projects'}}
Projects
{{/link-to}}

<h1 id="title">Laura's Portfolio</h1>

{{outlet}}
