<header class="top">
  <div class="header-text">
    <h1>You Should Hire Laura as Your Web Developer</h1>
  </div>
</header>

<header class="bottom">
  <div class="header-link">
    {{#link-to 'index'}}
    Index
    {{/link-to}}
  </div>
  <div class="header-link">
    {{#link-to 'resume'}}
    Resume
    {{/link-to}}
  </div>
  <div class="header-link">
    {{#link-to 'projects'}}
    Projects
    {{/link-to}}
  </div>
</header>

{{outlet}}
