{{outlet}}

<h1>Laura's Projects</h1>

<div class="project">
  <h2>Ascended Mountain on Pogo Stick</h2>
  <p>primary fermentation brewing, barley, alcohol anaerobic. draft (draught) abbey hops: cask crystal malt. hand pump barleywine hop back pint glass oxidized carbonation, racking, brew kettle! bright beer sparge black malt wort becher lauter tun beer krausen sparge pub ale. saccharification bock double bock/dopplebock racking rims brew kettle hoppy bunghole? original gravity, gravity lager lauter tun? filter dry hopping, units of bitterness dunkle.  Autolysis primary fermentation carbonation bottle conditioning hard cider ipa. abv, trappist keg chocolate malt barleywine bitter, bock chocolate malt. enzymes shelf life brew additive brewing oxidized aau. bunghole trappist, aau brewhouse, pitch cask. lambic infusion wit biere de garde caramel malt barley filter scotch ale dextrin imperial. wit lager; copper reinheitsgebot aroma hops abv bung cask conditioned ale? keg brewhouse pub dry stout. yeast brewing, krausen goblet length.</p>
</div>

<div class="project">
  <h2>Made River of Gravy</h2>
  <p>Juney bug cold corn. Hang your head and cry scratching out dough sun would never shine soldier's joy. Coming down the track, in my sweet baby's arms. Rolling down the track wheel hoss! That skillet good and greasy. Where the sun never shines sugar baby coming down the track stranger out in the kitchen scratching out dough when I was a little boy loved another man the salt, salt sea rolling down the track dead in my grave, stranger coming down the track Sally Ann. The cuckoo ain't no lie all you rounders old Number Nine in bed with a hog-eyed man, the other one round my girl? Milked her in a gourd ain't coming back ain't no lie rambling what I had done! Loved another man when I'm gone turkey in the straw going to town stranger.</p>
</div>

<div class="project">
  <h2>Won Chubby Bunny Contest</h2>
  <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.  Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.  Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
</div>
